# Excluding dataset, embeddings and processed files
/data/*
/data.simp/*
/results/*
/details/*

# Excluding .vscode
*settings.json

*.pyc

extensions.json


# Excluding new data
data.simp/*
!data.simp/confs/